<div class="row">
  <div class="col-md-6 col-offset-md-3">
    <h4><%= @band.name %></h4>
    <hr>
  </div>
  <div class="col-md-3 col-offset-md-1">
    <form action="/bands/<%=@band.id%>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit" id="add_venue" class="btn btn-danger btn-xs">
        Remove band <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </form>
  </div>
</div>
