.clear {
  clear:both;
}

.float-left {
  float:left;
  margin-left:20px;
  margin-bottom: 20px;
}

body {
  margin: 50px;
}

.vert-margin {
  margin-top: 50px;
}

.vert-margin-sm {
  margin-top: 20px;
}

.test {
  background: red;
}

.button-bar form {
  margin-bottom: 5px;
}

#home {
  position:fixed;
  top:30px;
  left:40px;
}
