.clear {
  clear:both;
}

.float-left {
  float:left;
  margin-left:20px;
  margin-bottom: 20px;
}

body {
  margin: 50px;
}

.vert-margin {
  margin-top: 50px;
}

.test {
  background: red;
}


#home {
  position:fixed;
  top:30px;
  right:40px;
}
